.contact-container {
  height: auto;
  display: flex;
  align-items: center;
}

.heading-container {
  display: flex;
  justify-content: center;
}

.head-topic {
  font-size: 2rem;
  align-items: center;
  flex-direction: column;
}

.input-div {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 5%;
}

.label {
  margin-bottom: 1%;
}

.Contact_Input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-evenly;
  width: 500px;
}
.input {
  border: solid black 1px;
  border-radius: 2px;
  /* padding: 2px; */
  height: 35px;
}
.input::placeholder {
  color: #8a8b8e;
  font-size: 1.4rem;
  text-align: left;
  padding-left: 5px;
  padding-top: 2px;
}

.textarea {
  border: solid black 1px;
  border-radius: 2px;
  font-size: 15px;
  width: 500px;
  height: 250px;
  padding: 2px;
}

.textarea::placeholder {
  color: #8a8b8e;
  font-size: 1.4rem;
}

.button-link1 {
  text-decoration: none;
  background-color: #f44336;
  border-radius: 20px;
  width: 250px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
