.body {
  overflow-x: hidden;
}

.home-img {
  width: 100%;
  height: 200px;
}
/* @media (max-width: 500px) {
  .home-img {
    margin-top: -32px;
  }
} */
.home-img-div {
  width: 100%;
  /* background-image: url("../img/homeimg.png");
  height: 90vh; */
  /* background-position: cover;*/
}

/* @media (max-width: 500px) {
  .home-img-test {
    width: 25%;
  }
} */

h1 {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
}

.button-link {
  text-decoration: none;
  background-color: #f44336;
  border-radius: 20px;
  width: 85px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 80px;
}

.div1 {
  width: 70%;
  height: 70%;
  line-height: 40px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
}

.handshake-img {
  width: 500px;
  height: auto;
}

.med-img {
  width: 500px;
  height: auto;
}

.side-by-side {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.services1 {
  display: flex;
  justify-content: center;
}
.services2 {
  margin-left: 7.5%;
}
.benefits {
  width: 500px;
  height: auto;
  line-height: 30px;
  display: flex;
  justify-content: center;
}

.supplies {
  width: 500px;
  height: auto;
  line-height: 30px;
  display: flex;
  justify-content: center;
}

.services-title {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.bit-spacing {
  margin: 20px;
}

.font-size {
  font-size: 17px;
  line-height: 30px;
}

.font-size2 {
  font-size: 17px;
  line-height: 30px;
  margin: 0 93px;
}

/* About us on homepage */

.home-wrap-one {
  display: inline;
  display: flex;
  flex-direction: row-reverse;
}

.home-wrap-two {
  display: flex;
}

.center-width {
  display: flex;
  justify-content: center;
}

.title-font2 {
  margin-top: 50px;
}
/* Media query's for home component */

@media (max-width: 2656px) {
  .body {
    overflow-x: hidden !important;
  }

  .home-img {
    width: 2140px;
    height: 200px;
  }
}

/* @media (max-width: 1000px) {
  .body {
    overflow-x: hidden !important;
  }
} */

/* @media (max-width: 800px) {
  .body {
    overflow-x: hidden !important;
  }
} */

@media (max-width: 500px) {
  .body {
    overflow-x: hidden !important;
  }

  .home-img {
    width: 100%;
    left: 50%;
    display: none;
  }

  .side-by-side {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .font-size {
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    width: 300px;
  }

  .div1 {
    width: 1000px;
    height: auto;
    line-height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
  }

  .title-font {
    font-size: 23px;
    text-decoration-line: underline;
  }

  .benefits {
    width: 400px;
    height: auto;
    line-height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
  }

  .supplies {
    width: 400px;
    height: auto;
    line-height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
  }

  .handshake-img {
    width: 100%;
    height: auto;
  }

  .med-img {
    width: 100%;
    height: auto;
  }

  .wrapper {
    overflow: scroll;
    display: flex;
    justify-content: center;
  }

  .center-width {
    display: flex;
    justify-content: center;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .more-more-space {
    margin: 50px;
  }
}
