.body {
    width: 100%;
    height: 0 auto;
}

.home-img {
  width: 100%;
  height: 10%;
}

h1 {
    font-size: 50px; 
    display: flex;
    justify-content: center; 
}

.button {
background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.div1 {
  width: 70%; 
  height: 70%;
  font-size: 20px; 
  line-height: 40px; 
}


.center {
  display: flex; 
  justify-content: center; 
}

.med-img {
width: 80%;
height: 80%;
}

.handshake-img {
  width: 55%; 
  height: 60%;
}

.spacing {
  padding: 50px; 
}

.side-by-side {
  display: flex;
  flex-direction: row-reverse
}

.services1 {
    
}

.services2 {
 
}




