.wrap-navbar {
    display: flex; 
}


.wrap-link {
   text-align: end; 
   margin-left: 600px; 
    display: flex; 
    justify-content: flex-end; 
    
}

.link {
    text-decoration: none; 
    color: #000000; 
    margin: 30px;  
    
}

.name {
    text-decoration: none; 
    color: #000000; 
    display: flex; 
    justify-content: center; 
    margin: 10px; 
}



