.wrap-navbar {
    display: flex; 
}


.wrap-link {
    display: flex; 
    /* justify-content: flex-end;  */
}

.link {
    text-decoration: none; 
    color: #000000; 
    margin: 20px; 
    display: flex; 
    justify-content: flex-end; 
    /* justify-content: center; */
    /* margin-bottom: 60px;  */
}


.name {
    text-decoration: none; 
    color: #000000; 
    display: flex; 
    justify-content: center; 
    margin: 10px; 
}



