.wrap-navbar {
    width: 100%;
    display: flex; 
}


.wrap-link {
   text-align: end; 
   margin-left: px; 
    display: flex; 
    justify-content: flex-end; 
}

.link {
    text-decoration: none; 
    color: #000000; 
    margin: 30px;  
    
}

.name {
    text-decoration: none; 
    color: #000000; 
    display: flex; 
    justify-content: center; 
    margin: 10px; 
}

#toggle {
    display: none; 
}

label {
    display: none; 
}

.nav {
    border-bottom: 1px solid #EAEAEB; 
}

.nav-img {
    height: 75px;
    width: auto;
    border-radius: 50px; 
    margin-left: 155px;
}

    
.wrap-both {
    display: none; 
  }
  
  @media (max-width: 1000px) {
  
  }
  
  @media (max-width: 800px) {
  
  }
  
  @media (max-width: 500px) {

     .wrap-link {
         margin-left: 10px; 
        display: none; 
        text-align: center; 
     }

      a {
        display: block; 
        border-bottom: 1px solid #EAEAEB; 
        margin-right: 20px; 
        line-height: 30px;
     }

     label {
        margin:  0  40px 0 0; 
        font-size: 25px; 
        line-height: 70px; 
        display: block; 
        cursor: pointer; 
    }

    #toggle:checked + .wrap-link {
        display: block; 
    }

    .flex-img {
        text-align: start;
    } 

    .nav-img {
        height: 65px;
        width: auto;
    }

    .name {
        text-decoration: none; 
        color: #000000; 
        display: flex; 
        justify-content: flex-start; 
        /* margin-left: 100px;  */
        background: blue; 
        display: none; 
    }



    .wrap-navbar {
        display: flex;
        /* justify-content: space-between;   */
    }

    .logo {
        /* background: blue;  */
      
       }
      
       .link-bar {
         /* background: green;  */
        
       }
      
       .wrap-both {
         display: flex;
         justify-content: center; 
       }

       .nav-img {
        height: 75px;
        width: auto;
        border-radius: 50px; 
        margin-left: 20px;
        margin-right: 17px; 
    }

  }
  



